@import "ember-paper";
@import "ember-paper-expansion-panel";

body {
  background: #F6F7FC;
  padding: 80px;

  @media screen and (max-width: 600px) {
    padding: 20px;
  }
}

.md-subheader {
  background-color: transparent;
}

md-expansion-panel .actions {
  display: flex;

  .md-button {
    margin: 0;
  }
}